.blocker {
  background-color: rgba(0,0,0,0.45);
}

.modal {
  border-radius: 3px;
  box-shadow: 0 0 18px rgba(0,0,0,.4);
  background-clip: padding-box;
  background-color: #fff;
  border-color: #444d56;
  max-width: 448px;
  border: 1px solid #d1d5da;
  padding: 0;
  font-size: 14px;
}

.modal:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.modal a.close-modal {
  display: none;
}

.box-header {
  padding: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box-header a i {
  color: #586069;
}

.box-header a i:hover {
  color: #0366d6;
  transition: 0.2s;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sign-in-form input.input-text {
  width: 70%;
  margin: 8px;
}

.sign-in-form input.btn {
  margin: 16px;
}

.sign-in-form a.primary-link {
  align-self: flex-start;
  margin-left: 15%;
}

.box-footer p {
  text-align: center;
  padding: 16px;
}

.google-icon-wrap {
  display: inline-block;
  background: white;
  color: #444;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 600;
}

.google-icon-wrap img {
  width: 28px;
  margin-right: 8px;
}

.small-text {
  font-size: 12px;
}

.sign-in-form .small-text {
  width: 69%;
  text-align: justify;
  line-height: 1.2;
  margin-bottom: 8px;
}