@import url('https://rsms.me/inter/inter.css');

body {
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #24292e;
    background-color: #fff;
}

hr {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
    height: 0;
    margin: 15px 0;
    overflow: hidden;
}

.header {
    background-color: #24292e;
    padding: 16px 0;
    color: white;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.header .container {
    max-width: 1012px;
}

.navbar {
    min-height: 56px;
}

.logo {
    margin-right: 24px;
}

.navbar-responsive {
    display: none;
}

.navbar-items {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.navbar-items li {
    margin-right: 16px;
}

.navbar-items li a:hover {
    color: hsla(0,0%,100%,.75);
    transition: 0.4s;
}

.navbar-sign-in {
    display: flex;
    margin-left: auto;
    font-size: 16px;
    align-items: center;
}

.navbar-sign-in li a:hover {
    color: hsla(0,0%,100%,.75);
    transition: 0.4s;
}

.sign-in {
    margin-right: 16px;
}

.sign-up {
    display: inline-block;
    padding: 4px 8px 4px 8px;
    border-radius: 3px;
    border: 1px solid #e1e4e8;
}

.subheader {
    position: sticky;
    background-color: #fafbfc;
    top: 0;
    z-index: 21;
    margin-bottom: -72px;
    padding-bottom: 16px;
    padding-top: 16px;
    display: block;
    font-size: 16px;
}

.subheader .container {
    max-width: 1012px;
    justify-content: flex-end;
}

.subheader-nav {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
}

.subheader-nav a {
    color: #586069;
    margin-left: 16px;
}

.subheader-nav a:hover {
    color: #0366d6;
    transition: 0.2s;
}

.subheader-nav a:first-child {
    margin-left: 0;
}

.is-stuck {
    background-clip: padding-box;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.is-stuck::after {
    background: linear-gradient(rgba(0,0,0,.075),rgba(0,0,0,.001)) repeat-x 0 0;
    bottom: -12px;
    content: "";
    display: block;
    height: 12px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
}

#pricing {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: column;
}

#pricing h1 {
    font-size: 36px;
    margin-bottom: 16px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 1.25;
    display: block;
    width: 100%;
}

#pricing p {
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    color: #586069;
    width: 75%;
}

.plans-cards {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 16px;
    margin-top: 16px;
    margin-bottom: 40px;
    align-items: stretch;
    justify-content: center;
}

.plans-card {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    box-shadow: 0 1px 1px rgba(27,31,35,.1);
    border-radius: 3px;
    border: 1px solid #e1e4e8;
    width: 33.33333%;
}

.card-title {
    padding: 16px;
    display: block;
    border-bottom: 1px solid #e1e4e8;
}

.card-title h2 {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.text-blue {
    color: #0366d6;
}

.text-green {
    color: #28a745;
}

.text-gray-dark {
    color: #24292e;
}

.text-purple {
    color: #6f42c1;
}

.plans-card-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 16px;
}

.plans-card-text h3 {
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.25
}

#pricing .plans-card-text p {
    font-size: 14px;
    margin-bottom: 24px;
    color: #586069;
    width: 100%;
}

.plans-card-text h4 {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 4px;
}

.plans-card-text ul {
    line-height: 1.25;
}

.plans-card-text ul li {
    margin-bottom: 4px;
}

#pricing .plans-card-desc {
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 0px !important;
    color: #586069;
}

#studentDeveloperPackLink {
    box-shadow: 0 1px 0 0 rgba(18,119,235,.5);
    color: #1277eb;
    text-decoration: none!important;
    transition: .2s;
}

#studentDeveloperPackLink:hover {
    box-shadow: 0 1px 0 0 #1277eb;
    color: #0366d6;
}

.plans-card-btn {
    border-top: 1px solid #e1e4e8;
    border-radius: 0 0 2px 2px;
    padding: 16px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.plans-card-btn:hover {
    border-color: transparent;
    color: white;
    transition: 0.2s;
}

.plans-card-btn.text-blue:hover {
    background-color: #0366d6;
}

.plans-card-btn.text-green:hover {
    background-color: #28a745;
}

.plans-card-btn.text-purple:hover {
    background-color: #6f42c1;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.plans-card-text a.text-blue:hover {
    text-decoration: underline;
}

.plans-footer {
    text-align: center;
    font-size: 14px !important;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.primary-link {
    box-shadow: 0 1px 0 0 rgba(18,119,235,.5);
    color: #1277eb;
    text-decoration: none!important;
    transition: .2s;
}

.primary-link:hover {
    box-shadow: 0 1px 0 0 #1277eb;
    color: #0366d6;
}

.plans-footer p {
    margin-bottom: 10px !important;
    margin-top: 0 !important;
    font-size: 14px !important;
    width: 100% !important;
}

.feature-comparison {
    padding: 64px 0;
}

.feature-comparison .container{
    flex-direction: column;
}

.feature-comparison h2 {
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 16px;
    width: 100%;
}

.feature-comparison p {
    width: 66.66667%;
    color: #586069;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 48px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

#ready-to-get-started {
    padding-top: 64px;
    padding-bottom: 64px;
    flex-direction: column;
}

#ready-to-get-started h2 {
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-bottom: 16px;
    width: 100%;
    text-align: center;
}

#ready-to-get-started p {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.btn {
    display: inline-block;
    margin: 0;
    padding: 10px 15px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    background-repeat: repeat-x;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.25), 0 1px 2px rgba(0,0,0,0.05);
    cursor: pointer;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #1d6ac8;
    background-image: -moz-linear-gradient(#45b3f3, #1d6ac8);
    background-image: -webkit-linear-gradient(#45b3f3, #1d6ac8);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#45b3f3', endColorstr='#1d6ac8')";
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#45b3f3', endColorstr='#1d6ac8')";
    border-color: #1d6ac8 #1d6ac8 #1a5eb2;

}

.btn:hover {
    text-decoration: none;
    background-position: 0 -15px;
}

.btn:active {
    border-color: #17529b;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.05);
}

.footer {
    margin-top: 40px;
}

.footer .container {
    font-size: 12px;
    padding-bottom: 24px;
    padding-top: 24px;
    justify-content: space-between;
}

.copyright-list, .social-icons-list {
    display: flex;
    color: #586069;
    font-size: 12px;
    align-items: center;
}

.copyright-list li, .social-icons-list li {
    margin-right: 16px;
}

.copyright-list li:last-child, .social-icons-list li:last-child {
    margin-right: 0;
}

.social-icons-list li a {
    color: #959da5;
    font-size: 18px;
}

.copyright-list a:hover {
    color: #0366d6;
    text-decoration: underline;
    transition: 0.2s;
}

.navbar-sign-in-responsive {
    display: none;
}

/* Email Finder Demo */
#email-finder-demo {
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
}

.utility-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #333;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.25), 0 1px 2px rgba(0,0,0,0.05);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.utility-box-title {
    display: flex;
    padding: 16px;
    border-bottom: 1px solid #c5c5c5;
    background-color: #F6F8FA;
}

.utility-box-title h2 {
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    font-size: 20px;
    margin: 0;
    text-align: left;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.utility-box-content {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.utility-box-content-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-text {
    width: 29%;
    height: 36px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border linear .2s, box-shadow linear .2s;
}

.input-text:focus {
    border-color: rgba(66,129,202,0.7);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(66,129,202,0.3);
    outline-offset: -2px;
}

.utility-box-content-results {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
}

.utility-box-content-result {
    padding: 8px 0;
}

.utility-box-content-result-title p {
    font-weight: bold;
    margin: 0;
    margin-top: 8px;
    width: 100%;
    text-align: left;
    color: #333;
    font-size: 16px;
}

.utility-box-content-result-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.valid-email {
    color: #fff;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #1aa74a;
    padding: 1px 3px;
    border-radius: 3px;
    font-weight: 500;
}

.risky-email {
    color: #333;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f8d749;
    padding: 1px 3px;
    border-radius: 3px;
    font-weight: 500;
}

.risky-email-grey {
    color: #5a5a5a;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    padding: 1px 3px;
    border-radius: 3px;
    border: 1px solid #c5c5c5;
    font-weight: 500;
}

.utility-box-content-result-data p {
    font-weight: 400;
    margin: 0;
    width: 100%;
    text-align: left;
    color: #333;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.utility-box-content-result-data ul {
    display: flex;
    flex-direction: row;
}

.utility-box-content-result-data ul li {
    margin: 0 8px;
    color: #6b727c;
}

.email-demo-footer {
    margin-top: 32px;
}

.email-demo-footer p {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #586069;
    margin-bottom: 0;
}

.full-width {
    width: 92%;
}

#domain-scraper-demo {
    width: 100%;
}

#domain-scraper-demo .utility-box-content {
    padding-left: 0;
    padding-right: 0;
}

#domain-scraper-demo .utility-box-content-fields {
    padding-left: 16px;
    padding-right: 16px;
}

#domain-scraper-demo .utility-box-content-results {
    padding-bottom: 0;
}

#domain-scraper-demo .utility-box-content-result {
    padding: 16px 16px;
    border-bottom: 1px solid #c5c5c5;
}

#domain-scraper-demo .utility-box-content-result:last-child {
    border-bottom: none;
}

#domain-scraper-demo .utility-box-content-result-data .valid-email {
    background-color: #eaebee;
    color: #333;
}

#email-verifier-demo {
    width: 100%;
}

#email-verifier-demo .btn {
    margin-left: 10px;
}

#upload-list-demo {
    width: 100%;
}

.utility-box-content .utility-box-header {
    border-bottom: 1px solid #c5c5c5;
    background-color: #F6F8FA;
}

.utility-box-header {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.utility-box-header h2 {
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    font-size: 20px;
    margin: 0;
    text-align: left;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.utility-box-header h3 {
    font-size: 20px;
    color: #767676;
    font-weight: 500;
    margin-bottom: 8px;
}

.utility-box-header p {
    font-size: 14px;
    color: #767676;
    font-weight: 400;
    width: 100%;
    margin-bottom: 16px;
}

#upload-list-demo .utility-box-content {
    border-top: 1px solid #c5c5c5;
    padding: 0;
}

#upload-list-demo .utility-box-content-results {
    padding: 0;
}

.utility-box-content-table-wrapper {
    overflow: auto;
}

.utility-box-content-table {
    display: flex;
    flex-direction: column;
    max-width: 1012px;
    min-width: 700px;
    font-size: 14px;
}

.utility-box-content-table-header {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.utility-box-content-table-header .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #c5c5c5;
    padding: 12px 15% 12px 12px;
}

.utility-box-content-table-header .row li {
    padding-left: 16px;
    width: 25%;
}

.utility-box-content-table-header .row li:first-child {
    padding-left: 0;
}

.utility-box-content-table-data  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-data-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 12px;
    border-bottom: 1px solid #c5c5c5;
}

.table-data-row:last-child {
    border-bottom: none;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.row li {
    padding-left: 16px;
    width: 25%;
}

.row li:first-child {
    padding-left: 0;
}

.icons {
    display: flex;
    flex-direction: row;
    width: 15%;
    align-items: center;
    justify-content: space-between;
}

.icons li {
    margin-right: 16px;
}

.email-verifier-demo-footer {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.col-4 {
    width: 33.3333333%;
    padding-left: 50px;
    padding-right: 20px;
    text-align: left;
}

.col-4 i {
    color: #ADADD1;
    float: left;
    font-size: 24px;
    margin-left: -32px;
    margin-top: 7px;
}

.col-4 h3 {
    font-size: 20px;
    text-align: left;
    margin: 10px 0;
    padding: 0;
    color: #3a3a3a;
    font-weight: 500;
    line-height: 1.1;
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.col-4 p {
    color: #5a5a5a;
    text-align: left;
    margin: 0 0 10px;
    width: 100%;
    font-size: 14px;
    line-height: 1.4;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.utility-box-header img {
    margin-top: 16px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.contact-form .input-text {
    width: 100%;
    margin-bottom: 16px;
}

.contact-form .btn {
    width: 100%;
}

.contact-form textarea {
    height: 100%;
}

@media (max-width: 1011px) {
    .container {
        margin: 0 !important;
        padding-right: 40px;
        padding-left: 40px;
        max-width: 1012px;
        justify-content: space-between;
    }

    .navbar {
        min-height: 34px;
    }

    #pricing {
        padding-top: 64px;
    }

    .plans-cards {
        align-items: stretch;
        flex-flow: row wrap;
        justify-content: center;
    }

    .navbar-items, .navbar-sign-in {
        display: none;
    }

    .navbar-sign-in-responsive {
        display: flex;
        align-items: center;
    }

    .navbar-sign-in-responsive a {
        margin-right: 32px;
        font-size: 14px;
        border-radius: 6px;
    }

    .navbar-sign-in-responsive i {
        font-size: 20px;
        cursor: pointer;
        margin-top: 4px;
        color: #fff;
    }

    .navbar-responsive {
        background-color: #fff;
        box-shadow: 0 10px 50px rgba(27,31,35,.15);
        overflow: auto;
        width: 300px;
        z-index: 100;
        display: block;
        clear: both;
        bottom: 0;
        right: 0;
        top: 0;
        max-height: 100%;
        position: fixed;
        flex: 1 1 auto;
        align-items: center;
        justify-content: space-between;
        color: #444d56;
    }

    .hidden {
        display: none;
    }

    .cross-menu {
        padding: 16px;
        display: flex;
        justify-content: flex-end;
        background-color: #fafbfc;
        border-bottom: 1px solid #e1e4e8;
        font-size: 22px;
    }

    .cross-menu i {
        cursor: pointer;
    }

    .navbar-responsive-nav {
        padding-right: 16px;
        padding-left: 16px;
        margin-bottom: 32px;
    }

    .navbar-items-responsive li {
        border-bottom: 1px solid #e1e4e8;
    }

    .navbar-items-responsive li a {
        color: #444d56;
        transition: 0.4s;
        display: block;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .navbar-items-responsive li a:hover {
        color: #24292e;
    }

    .sign-in-responsive {
        text-align: center;
        padding-right: 16px;
        padding-left: 16px;
        align-items: center;
        display: block;
    }

    .sign-in-responsive a {
        color: #444d56;
        transition: 0.4s;
    }

    .sign-in-responsive a:first-child {
        margin-right: 16px;
    }

    .sign-in-responsive a:last-child {
        display: inline-block;
        padding: 4px 8px 4px 8px;
        border-radius: 3px;
        border: 1px solid #d1d5da;
    }

    .sign-in-responsive a:hover {
        color: #24292e;
    }

    .utility-box-content-fields {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .input-text {
        margin-bottom: 8px;
        width: 100%;
        text-align: center;
    }

    .input-text:nth-child(2) {
        margin-bottom: 0;
    }

    .utility-box-content-fields .btn {
        width: 100%;
    }

    #email-verifier-demo .btn {
        margin-left: 0;
    }

    .email-verifier-demo-footer {
        flex-flow: row wrap;
    }

    #email-verifier-demo .utility-box-content-result-data p {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    #email-verifier-demo .utility-box-content-result-data p span {
        margin-left: 3px;
        margin-top: 3px;
        margin-bottom: 3px;
        text-align: center;
    }

    .contact-form .input-text {
        width: 100%;
        margin-bottom: 16px;
    }

}

@media (max-width: 767px) {
    .subheader .container {
        justify-content: center;
    }

    #pricing {
        margin-top: 40px !important;
        padding-top: 40px;
    }

    #pricing h1 {
        font-size: 28px;
    }

    #pricing p {
        width: 100%;
    }

    .subheader-nav a {
        font-size: 14px;
    }

    .plans-cards {
        align-items: center;
        display: flex;
        flex: 0 1 100%;
        flex-direction: column;
        width: 100%;
    }

    .plans-card {
        width: 66.66667%;
    }

    .plans-footer {
        width: 100%;
    }

    .feature-comparison h2 {
        font-size: 28px;
    }

    .feature-comparison p {
        width: 100%;
    }

    #ready-to-get-started h2 {
        font-size: 28px;
    }

    .social-icons-list li a {
        font-size: 22px;
    }

    .utility-box-title h2 {
        font-size: 20px;
    }

    .email-verifier-demo-footer {
        align-items: center;
        display: flex;
        flex: 0 1 100%;
        flex-direction: column;
        width: 100%;
    }

    .col-4 {
        width: 100%;
    }

    .utility-box-header h2 {
        font-size: 20px;
    }
}

@media (max-width: 543px) {
    .container {
        padding-right: 16px;
        padding-left: 16px;
    }

    .plans-card {
        width: 100%;
    }

    .plans-cards {
        flex-flow: column;
    }

    .footer .container {
        flex-flow: column-reverse;
        align-items: flex-start;
    }

    .social-icons-list {
        margin-bottom: 16px;
    }

    .navbar-sign-in {
        text-align: center;
    }

    .utility-box-title h2 {
        font-size: 18px;
    }

    .utility-box-header h2 {
        font-size: 18px;
    }
}

@media (max-width: 435px) {
    .utility-box-content-result-data p {
        display: flex;
        flex-direction: column;
    }

    .valid-email {
        margin-right: auto;
    }

    .risky-email {
        margin-right: auto;
    }
}