header {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    padding: 16px 40px;
    justify-content: space-between;
}

.main {
    flex-direction: column;
    text-align: justify;
    margin-top: 116px;
    margin-bottom: 64px;
}

h1 {
   font-size: 2em;
   padding-bottom: 0.3em;
   margin-bottom: 16px;
   line-height: 1.25;
   font-weight: 500;
}

h3 {
    font-size: 1.25em;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 1.25;
}

p {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
}

.text-blue:hover {
    text-decoration: underline;
}

.list {
    padding-left: 2em;
    margin-top: 0;
    margin-bottom: 16px;
    list-style-type: initial;
    width: 90%;
}

.list a {
    word-wrap: break-word;
}

@media (max-width: 1011px) {
    .main.container {
        margin-top: 64px !important;
    }
}

@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
    }

    .navbar a {
        margin-right: 0;
        margin-bottom: 16px;
    }
}